{
    "networks": [
        {
            "provider": "https://rinkeby.infura.io/v3/9aa3d95b3bc440fa88ea12eaa4456161",
            "ensResolverAddress": "0xf6305c19e814d2a75429Fd637d01F7ee0E77d615",
            "requestInterval": 1000,
            "maxBlockRangePerRequest": 1000,
            "chainId": 1000
        }
    ]
}